body, html {
    height: 100vh;
    margin: 0;
    background-color: beige;
  }

  pre {
    font-size: 24px;
  }

  h1 {
    text-align: center;
  }
    
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .topright {
    position: absolute;
    top: 0;
    right: 16px;
    margin: 0;
    line-height: 0%;
  }
      
  .middle {
    position: relative;
    top: 40%;
    left: 50%;
    width: 67%;
    transform: translate(-50%, -50%);
    text-align: start;
  }

  .rankings {
    text-align: center;
  }

  .button_area {
    text-align: center;
  }

  .answers_area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    
  } 

  .answer,#btn_start, #btn_submit, .btn {
    background-color:blueviolet;
    color:white;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px ;
    border-radius: 5px;
       
  }

  .answer:hover {
    background-color: darkblue;
    font-weight:900;        
  }

  hr {
    margin: auto;
    width: 100%;
  }


  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 10px 100px;
    margin: 10px;
    background-color: lightgray;
  }

  @media screen and (max-width: 768px) {
    .middle {
      top: 30%;
    }
    
    h1 {
      font-size: 24px;
      margin-bottom: 48px;
    }

    h2 {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }

    li {
      margin: 5px;
      font-size: 12px;
    }
  }